<div class="aheets">
	<spinner-app *ngIf="spinnerService.isLoading"></spinner-app>
	<header class="aheets__header">
		<button class="aheets__button"
		        (click)="openModalAdd()">
			<svg class="aheets__button-icon"
			     data-src="./assets/icons/find.svg"></svg>
			Find Physician
		</button>
		<dropdown [dropdownMenu]="dropdownMenu"
		          [nameDropDown]="nameDropDown"
		          [productSelectByCategory]="NAME_BY_CATEGORY"
		          (choice)="choiceDropDown($event)"></dropdown>
	</header>
	<product-table [product]="products"
	               (sortProduct)="sortProduct($event)"
	               (openModalEdit)="openModalEdit($event)"
	               (removeProduct)="removeProducts($event)"></product-table>
	<product-modal [product]="productSelect"
	               [dropdownMenu]="dropdownMenu"
	               [isOpenPopupAdd]="isOpenPopupAdd"
	               [isOpenPopupEdit]="isOpenPopupEdit"
	               (closeModalEdit)="closeModal()"
	               (saveModalEdit)="changeSelectProduct($event)"></product-modal>
</div>