.spinner {
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 54px);
  background-color: var(--background-popup);
  &__text {
    //text-align: center;
  }
  &__circle {
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    border-right: 3px solid rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    border-left: 3px solid rgb(129, 138, 145);
    animation: loading-spinner 0.5s infinite linear;
  }
  @keyframes loading-spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}