<section class="sidebar"
         [class._visible]="sidebarService.isVisibleText">
	<ul class="sidebar__menu">
		<li *ngFor="let item of SIDEBAR_ITEMS"
		    class="sidebar__menu-item"
		    routerLink="{{item.link}}"
		    routerLinkActive="_active">
			<button class="sidebar__menu-button">
				<svg class="sidebar__img"
				     [attr.data-src]="item.icon"></svg>
				<p class="sidebar__text">{{item.name}}</p>
			</button>
		</li>
	</ul>
</section>
