.sidebar {
  height: 100%;
  width: 54px;
  box-sizing: border-box;
  transition: width .4s linear;
  background-color: var(--color-white);
  border-right: solid 1px var(--color-gray);
  &._visible {
    width: 200px;
    height: 100%;
    .sidebar__text {
      display: block;
    }
  }
  &__menu {
    &-item {
      border-left: solid 2px transparent;
      border-top: solid 1px var(--color-gray);
      &:last-child {
        border-bottom: solid 1px var(--color-gray);
      }
      &:hover,
      &._active {
        fill: var(--svg-fill);
        border-left: solid 2px var(--border-left);
        background-color: var(--background-active);
        .sidebar__img {
          opacity: 1;
        }
      }
    }
    &-button {
      display: flex;
      padding: 15px;
      cursor: pointer;
      align-items: center;
      background-color: transparent;
    }
  }
  &__img {
    width: 24px;
    height: 24px;
    opacity: 0.4;
  }
  &__text {
    display: none;
    width: 135px;
    text-align: left;
    padding-left: 15px;
    animation: showText 0.5s linear;
  }
  @keyframes showText {
    0%, 40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
