.app-popup {
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  cursor: pointer;
  visibility: visible;
  align-items: center;
  justify-content: center;
  background-color: var(--background-popup);
  &__container {
    width: 400px;
    cursor: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    &-inscription {
      padding: 20px;
      text-align: left;
      width: 100%;
    }
    &-text {
      width: 100%;
      padding: 20px;
      text-align: left;
    }
    &-block {
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      &._columb {
        flex-direction: column;
      }
    }
    &-border {
      width: 100%;
      border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    }
    &-button-close {
      width: 24px;
      height: 24px;
      background-color: transparent;
    }
  }
  &__button {
    display: flex;
    color: var(--color-white);
    justify-content: space-between;
      &-save {
      width: 50px;
      height: 30px;
      border-radius: 5px;
      margin: 0 20px 20px auto;
      color: var(--color-white);
      background-color: var(--button-table);
    }
    &-delete {
      width: 80px;
      height: 30px;
      border-radius: 5px;
      margin: 0 20px 20px auto;
      color: var(--color-white);
      background-color: var(--button-table);
    }
  }
}