<div class="app-popup">
	<div class="app-popup__container">
		<div class="app-popup__container-block">
			<h2 class="app-popup__container-title">{{popupService.confirmData.title}}</h2>
			<button class="app-popup__container-button-close"
			        type="button">
				<svg class="app-popup__container-button-icon"
				     data-src="./assets/icons/close.svg"></svg>
			</button>
		</div>
		<div class="app-popup__container-border"></div>
		<h3 class="app-popup__container-inscription">{{popupService.confirmData.bodyText}}</h3>
		<div *ngIf="popupService.confirmData.data"
		     class="app-popup__container-text">
			<p class="app-popup__container-text-name">{{popupService.confirmData.data.name}}</p>
		</div>
		<div class="app-popup__button">
			<button *ngIf="popupService.confirmData.isOkBtn"
			        class="app-popup__button-save"
			        type="button">OK</button>
			<button *ngIf="popupService.confirmData.isDelBtn"
			        class="app-popup__button-delete"
			        type="button">CANCEL</button>
		</div>
	</div>
</div>