.patients {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  &__button {
    height: 40px;
    display: flex;
    border-radius: 6px;
    align-items: center;
    margin-bottom: 30px;
    padding: 5px 10px 5px 10px;
    color: var(--border-bottom);
    background-color: transparent;
    border: solid 2px var(--border-bottom);
    &:hover {
      color: white;
      border: solid 2px var(--button-table);
      background-color: var(--button-table);
      .patients__button-icon {
        fill: var(--color-white);
      }
    }
    &-icon {
      width: 18px;
      height: 18px;
      margin-right: 10px;
      fill: var(--svg-fill);
    }
  }
}