.tips {
  width: 200px;
  height: 70px;
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 5px 0 #8a959d;
  &__item {
    padding: 0 10px;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  &__button {
    background-color: transparent;
  }
  &__arrow {
    height: 18px;
    transition: fill .2s ease-out;
    &._right {
      transform: rotate(180deg);
    }
  }
}
