<div class="tips"
     [ngSwitch]="count">
	<button class="tips__button"
	        type="button"
	        (mousedown)="visibilityText($event)">
		<svg class="tips__arrow _right"
		     data-src="./assets/icons/arrow.svg"></svg>
	</button>
	<div *ngSwitchCase="count"
	     class="tips__item"
	     [title]="hoverTips[count]">{{hoverTips[count]}}
	</div>
	<button class="tips__button"
	        type="button"
	        (mousedown)="nextText($event)">
		<svg class="tips__arrow "
		     data-src="./assets/icons/arrow.svg"></svg>
	</button>
</div>