.product-modal {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--background-popup);
  z-index: 4;
  &__form {
    padding: 20px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    &-title {
      margin-bottom: 20px;
      text-align: center;
    }
    &-input {
      color: var(--color-light-gray);
      border-bottom: solid 1px var(--background-popup);
      &._input {
        width: 100%;
        height: 30px;
      }
      &._radio {
       margin: 10px 0 0 10px;
      }
    }
    &-button {
      border-radius: 5%;
      align-items: center;
      margin-right: 20px;
      color: var(--color-white);
      padding: 5px 10px 5px 10px;
      border: solid 2px var(--button-table);
      background-color: var(--button-table);
      &:hover {
        color: var(--button-table);
        background-color: var(--color-white);
        border: solid 2px var(--button-table);
      }
      &._disable {
        background-color: gray;
        border: solid 2px gray;
        &:hover {
          color: var(--color-white);
        }
      }
    }
    &-radio {
      height: 25px;
      margin-bottom: 20px;
    }
    &-label {
      margin-top: 20px;
      display: inline-block;
      border-bottom: solid 1px var(--color-light-gray);
    }
  }
  &__button {
    display: flex;
    justify-content: center;
  }
  &__radio {
    display: flex;
    justify-content: center;
  }
  &__error {
    color: red;
    width: 100%;
    display: none;
    font-size: small;
    &:before {
      content: '*';
    }
    &._visible {
      display: block;
    }
  }
}