<div *ngIf="isOpenPopupEdit || isOpenPopupAdd"
     class="product-modal">
	<form #modal="ngForm"
	      class="product-modal__form">
		<h2 class="product-modal__form-title">{{popupService.modalProduct.title}}</h2>
		<dropdown class="product-modal__form-input"
		          required
		          type="text"
		          name="category"
		          ngDefaultControl
                  #category="ngModel"
		          id="product__category"
		          [nameDropDown]="nameDropDown"
		          [dropdownMenu]="dropdownMenu"
		          [isOpenPopupAdd]="isOpenPopupAdd"
		          [isOpenPopupEdit]="isOpenPopupEdit"
		          [productSelectByCategory]="isOpenPopupEdit ? product.category : NAME_BY_CATEGORY"
		          [ngModel]="category.value"
		          (choice)="getNameSelectedCategory($event)"></dropdown>
		<span class="product-modal__error"
		      [class._visible]="category.valid && category.touched">You haven`t selected a category
		</span>{{category.value}}
		<label class="product-modal__form-label"
		       for="product__api">{{popupService.modalProduct.labelApi}}</label>
		<input class="product-modal__form-input _input"
		       name="api"
		       type="text"
               #api="ngModel"
		       id="product__api"
		       required
		       [ngModel]="isOpenPopupEdit ? product.api : api.value">
		<span class="product-modal__error"
		      [class._visible]="api.invalid && api.touched">You didn't write a API
		</span>
		<label class="product-modal__form-label"
		       for="product__description">{{popupService.modalProduct.labelDescription}}</label>
		<input class="product-modal__form-input _input"
		       required
		       type="text"
		       name="description"
               #description="ngModel"
		       id="product__description"
		       [ngModel]="isOpenPopupEdit ? product.description : description.value">
		<span class="product-modal__error"
		      [class._visible]="description.invalid && description.touched">You didn't write a description
		</span>
		<p class="product-modal__form-label">Choice Male:</p>
		<div *ngFor="let radio of RADIO_BTM"
		     class="product-modal__form-radio">
			<label for="male">{{radio}}</label>
			<input class="product-modal__form-input _radio"
			       id="male"
			       name="male"
			       type="radio"
			       [value]="radio"
			       [ngModel]="isOpenPopupEdit ? product.male : radio">
		</div>
		<div class="product-modal__button">
			<button class="product-modal__form-button"
			        type="submit"
			        [disabled]="modal.invalid"
			        [class._disable]="modal.invalid"
			        (click)="saveModalEdit.emit(modal.value)">
				{{ isOpenPopupEdit ? 'Save' : 'Adding new' }}
			</button>
			<button class="product-modal__form-button"
			        type="reset">Cancel
			</button>
		</div>
	</form>
</div>