.product-table {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: var(--color-light-gray);
  &__row {
    width: 100%;
    text-align: -webkit-left;
    border-bottom: solid 1px var(--product-border-bottom);
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }
    &-item {
      width: 30%;
      height: 60px;
      padding: 10px;
      cursor: pointer;
      vertical-align: middle;
      @media (max-width: 600px) {
       width: 100%;
      }
      &._button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
      }
    }
    &-arrow {
      width: 20px;
      height: 10px;
      fill: var(--svg-fill);
      transform: rotate(90deg);
      &._transform {
        transform: rotate(270deg);
      }
    }
  }
  &__button {
    border-radius: 5px;
    align-items: center;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    &._sort {
      padding: 0;
      background-color: transparent;
      border: solid 2px var(--color-white);
     }
    &-icon {
      width: 18px;
      height: 18px;
      fill: var(--svg-fill);
    }
    &:hover {
      border: solid 2px var(--border-bottom);
      .product-table__button-icon {
        fill: var(--color-white);
      }
      .product-table__button_dropdown {
        border: none;
      }
    }
    &._delete {
      border: none;
      vertical-align: middle;
      background-color: var(--background-button-delete);
      &:hover {
        background-color: var(--button-table);
      }
    }
    &._status {
      border: none;
      margin-right: 10px;
      color: var(--button-status-text);
      width: var(--width-product-button-status);
      background-color: var(--background-button-status);
      &:hover {
        color: var(--background-button-status);
        background-color: var(--button-status-text);
      }
    }
  }
}