<table *ngIf="product.length"
       class="product-table">
	<tr class="product-table__row">
		<th class="product-table__row-item">{{productTableOptions.columnFirst}}</th>
		<th class="product-table__row-item">{{productTableOptions.columnSecond}}
			<button class="product-table__button _sort"
			        (click)="sortProduct.emit(SORT_FOR_API);
			         isSortForColumnApi=!isSortForColumnApi">
				<svg class="product-table__row-arrow"
				     [class._transform]="!isSortForColumnApi"
				     data-src="./assets/icons/arrow.svg"></svg>
			</button>
		</th>
		<th class="product-table__row-item">{{productTableOptions.columnThird}}
			<button class="product-table__button _sort"
			        (click)="sortProduct.emit(SORT_FOR_DESCRIPTION);
			        isSortForColumnDescription=!isSortForColumnDescription">
				<svg class="product-table__row-arrow"
				     [class._transform]="!isSortForColumnDescription"
				     data-src="./assets/icons/arrow.svg"></svg>
			</button>
		</th>
		<th class="product-table__row-item">ForMale</th>
		<th class="product-table__row-item">{{productTableOptions.columnFourth}}</th>
		<th class="product-table__row-item"></th>
	</tr>
	<tr *ngFor="let item of visibleProduct"
	    class="product-table__row _body">
		<td class="product-table__row-item">{{item.category}}</td>
		<td class="product-table__row-item">{{item.api}}</td>
		<td class="product-table__row-item">{{item.description}}</td>
		<td class="product-table__row-item">{{item.male}}</td>
		<td class="product-table__row-item _button">
			<button class="product-table__button _status"
			        (click)="openModalEdit.emit(item)">Click Edit to Configure
			</button>
			<button class="product-table__button _delete"
			        (click)="removeProduct.emit(item)">
				<svg class="product-table__button-icon"
				     data-src="./assets/icons/bin.svg"></svg>
			</button>
		</td>
	</tr>
</table>


 