.container {
  height: 100vh;
  width: 100vw;
  &__main {
    display: flex;
    height: calc(100% - var(--height-header));
    &-sidebar {
      z-index: 1;
      position: inherit;
      height: calc(100% - var(--height-header));
      &._position {
        position: absolute;
      }
    }
    &-mobile {
      width: 100%;
      position: absolute;
      height: calc(100% - var(--height-header));
      background-color: var(--background-popup);
    }
    &-rout {
      height: 100%;
      flex-grow: 1;
      overflow-y: auto;
      background-color: var(--color-white);
      //box-shadow: rgba(0, 0, 0, 0.09) -9px 13px 16px;
     }
  }
}
