<div class="container">
	<app-popup *ngIf="popupService.isOpenModalConfig"></app-popup>
	<app-header [tipsButtonName]="tipsButtonName"
	            (sidebarOpen)="sidebarService.toggleSidebarVisibility()"
	            (openPopup)="popupService.openPopupConfig(popupService.CONFIG_DATA)"></app-header>
	<div class="container__main"
	     (window:resize)="sidebarService.onResize()">
		<sidebar *ngIf="!sidebarService.isVisibleIcons || sidebarService.isSidebarVisible"
		         class="container__main-sidebar"
		         [class._position]="sidebarService.isSidebarVisible">
		</sidebar>
		<div *ngIf="sidebarService.isSidebarVisible"
		     class="container__main-mobile">
		</div>
		<div class="container__main-rout">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

