.dropdown {
  width: 200px;
  height: 35px;
  cursor: pointer;
  max-height: 500px;
  border-radius: 6px;
  color: var(--border-bottom);
  border: solid 2px var(--border-bottom);
  &._modalEdit {
    width: 100%;
    border: none;
    color:  var(--color-light-gray);
    border-bottom: solid 1px var(--background-popup);
    &:hover {
      background-color: white;
      color: var(--color-light-gray);
    }
  }
  @media (max-width: 500px) {
    width: 140px;
  }
  &:hover {
    color: white;
    background-color: var(--button-table);
  }
  &__item {
    color: var(--button-table);
    background-color: var(--color-white);
    &._modalEdit {
      color:  var(--color-light-gray);
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__label {
    color: var(--color-black);
    &._modalEdit {
      width: fit-content;
      border-bottom: solid 1px var(--color-light-gray);
    }
  }
}