<div class="dropdown__wrapper">
	<label for="dropdown"
	       class="dropdown__label"
	       [class._modalEdit]="isOpenPopupEdit || isOpenPopupAdd">{{nameDropDown}}</label>
	<select [(ngModel)]="dropdown"
	        class="dropdown"
	        role="listbox"
	        id="dropdown"
	        [class._modalEdit]="isOpenPopupEdit || isOpenPopupAdd"
	        (ngModelChange)="choice.emit($event)">
		<option class="dropdown__item"
		        [ngValue]="null"
		        [class._modalEdit]="isOpenPopupEdit || isOpenPopupAdd">{{productSelectByCategory}}
		</option>
		<option *ngFor="let item of dropdownMenu"
		        class="dropdown__item"
		        [value]="item"
		        [class._modalEdit]="isOpenPopupEdit || isOpenPopupAdd">{{item}}</option>
	</select>
</div>
