.tips {
  max-width: min-content;
  height: 60px;
  margin: auto;
  &__hover {
    visibility: hidden;
  }
  &__button {
    width: 200px;
    height: 60px;
    background-color: #128ef7;
    text-align: center;
    color: white;
    border-radius: 10px;
  }
  &:hover {
    .tips__hover {
      visibility: visible;
    }
  }

}




