.header {
  display: flex;
  position: relative;
  padding: 20px 30px 20px 30px;
  height: var(--height-header);
  &__icon {
    width: 40px;
    height: 40px;
    background-color: transparent;
    &:hover {
      fill: var(--svg-fill);
    }
  }
  &__click {
    right: 30px;
    position: absolute;
    color: var(--color-white);
    background-color: var(--button-table);
    width: var(--width-header-button-click);
    height: var(--height-header-button-click);
    &:hover {
      color: var(--button-table);
      border: 1px solid var(--button-table);
      background-color: var(--color-white);
    }
  }
  &__tips {
    height: 40px;
    margin:  auto;
    max-width: min-content;
    &-hover {
      visibility: hidden;
    }
    &-button {
      width: 100px;
      height: 40px;
      text-align: center;
      color: white;
      border-radius: 10px;
      background-color: #128ef7;
      &:hover {
        color: #128ef7;
        background-color: white;
        border: 1px solid #128ef7;
      }
    }
    &:hover {
      .header__tips-hover {
        visibility: visible;
      }
    }

  }
}
