<header class="header">
	<button class="header__icon"
	        (click)="sidebarOpen.emit()">
		<svg data-src="assets/icons/menu.svg"></svg>
	</button>
	<div class="header__tips">
		<button class="header__tips-button">{{tipsButtonName}}</button>
		<hover-tips class="header__tips-hover"
		            [hoverTips]="HOVER_TIPS"></hover-tips>
	</div>
	<button class="header__click"
	        type="button"
	        (click)="openPopup.emit()">Click me!</button>
</header>
