<div class="accounts">
	<spinner-app *ngIf="spinnerService.isLoading"></spinner-app>
	<header class="accounts__header">
		<button class="accounts__button"
		        (click)="openModalAdd()">Adding new product
		</button>
		<button class="accounts__button _red"
		        (click)="sortProductForMale()">
			<svg class="accounts__button-icon _red"
			     data-src="./assets/icons/find.svg"></svg>
			Sort for male
		</button>
		<button class="accounts__button"
		        (click)="displayAll()">Display all
		</button>
		<dropdown [dropdownMenu]="dropdownMenu"
		          [nameDropDown]="nameDropDown"
		          [productSelectByCategory]="NAME_BY_CATEGORY"
		          (choice)="choiceDropDown($event)"></dropdown>
	</header>
	<product-table [product]="products"
	               [productSort]="productSort"
	               (sortProduct)="sortProduct($event)"
	               (openModalEdit)="openModalEdit($event)"
	               (removeProduct)="removeProducts($event)"></product-table>
	<product-modal [product]="productSelect"
	               [dropdownMenu]="dropdownMenu"
	               [isOpenPopupAdd]="isOpenPopupAdd"
	               [isOpenPopupEdit]="isOpenPopupEdit"
	               (closeModalEdit)="closeModal()"
	               (saveModalEdit)="changeSelectProduct($event)"></product-modal>

</div>
