<form class="form"
      #registrationForm="ngForm">
	<div class="form__item">
		<label class="form__item-label"
		       for="firstName">
			Last name
		</label>
		<input class="form__item-input"
		       type="text"
		       id="firstName"
		       name="firstName"
		       minlength="3"
		       required
               #firstName="ngModel"
		       [(ngModel)]="registrationData.firstName">
		<span *ngIf="firstName.invalid && firstName.touched"
		      class="form__error">
			Must be at least 3 sign
		</span>
	</div>
	<div class="form__item">
		<label class="form__item-label"
		       for="lastName">Last Name</label>
		<input class="form__item-input"
		       type="text"
		       id="lastName"
		       name="lastName"
               #lastName="ngModel"
		       [(ngModel)]="registrationData.lastName">
	</div>
	<div class="form__item">
		<label class="form__item-label"
		       for="email">Email Adress</label>
		<input class="form__item-input"
		       type="email"
		       id="email"
		       required
		       name="email"
               #email="ngModel"
		       [(ngModel)]="registrationData.email">
		<span *ngIf="email.invalid && email.touched"
		      class="form__error">
			You didn't fill in the field
		</span>
	</div>
	<div class="form__item">
		<label class="form__item-label"
		       for="mobile">Mobile Number</label>
		<input class="form__item-input"
		       type="text"
		       id="mobile"
		       name="mobile"
		       mask='+(000 00) 000 00 00'
		       placeholder="(___) ___-____"
               #mobile="ngModel"
		       [(ngModel)]="registrationData.mobile">
		<span *ngIf="mobile.invalid && mobile.touched"
		      class="form__error">
			You didn't enter in the phone
		</span>
	</div>
	<div class="form__item">
		<label class="form__item-label"
		       for="password">Password</label>
		<input class="form__item-input"
		       type="password"
		       id="password"
		       name="password"
		       minlength="4"
		       required
               #password="ngModel"
		       [(ngModel)]="registrationData.password">
		<span *ngIf="password.invalid && password.touched"
		      class="form__error">
			Must be at least 4 sign
		</span>
	</div>
	<div class="form__button">
		<button class="form__button-item"
		        type="submit"
		        (click)="registrationForm.control.markAllAsTouched();
		                 registrationForm.valid &&
		                 getData(registrationData)">
			Save
		</button>
		<button class="form__button-item"
		        type="reset">
			Cancel
		</button>
	</div>
</form>