.form {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  &__item {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 0 15px 20px 0;
    &-input {
      height: 35px;
      display: flex;
      font-size: 20px;
      border-radius: 5px;
      border: 1px solid gray;
    }
    &-label { }
    &-star {
      position: absolute;
      height: 10px;
      width: 10px;
      &:before {
        position: absolute;
        content: '';
        height: 10px;
        border: 1px solid black;
        top: 0;
        transform: rotate(45deg);
      }
      &:after {
        position: absolute;
        content: '';
        height: 10px;
        border: 1px solid black;
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
    &__button {
      display: flex;
      width: 100%;
      &-item {
        width: 100%;
        height: 60px;
        border: 1px solid;
        margin-right: 20px;
        border-radius: 10px;
        color: var(--color-white);
        background-color: var(--button-table);
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          color: var(--button-table);
          background-color: var(--color-white);
          border: 1px solid var(--border-bottom);
        }
      }
    }
    &__error {
      color: red;
      width: 100%;
    }
  }
