.user-management {
  height: 100%;
  padding: 0 20px 0 20px;
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    @media (max-width: 500px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__button {
    height: 40px;
    display: flex;
    border-radius: 6px;
    align-items: center;
    padding: 5px 10px 5px 10px;
    color: var(--border-bottom);
    background-color: transparent;
    border: solid 2px var(--border-bottom);
    @media (max-width: 500px) {
      margin-bottom: 20px;
    }
    &:hover {
      color: white;
      border: solid 2px var(--button-table);
      background-color: var(--button-table);
      .user-management__button-icon {
        fill: var(--color-white);
      }
    }
    &-icon {
      width: 18px;
      height: 18px;
      margin-right: 10px;
      fill: var(--svg-fill);
    }
  }
}