:root {
  //color
  --color-white: #FFF;
  --color-gray: #f4f5f8;
  --color-black: #080808;
  --color-light-gray: #808b95;

  --svg-fill: #128ef7;
  --border-left: #0d8bf7;
  --button-table: #3b82f5;
  --border-bottom: #58aef9;
  --background-table: #a9a9a9;
  --background-active: #e8f1fb;
  --button-status-text: #2ac7bf;
  --background-dropdown: #f1f1f1;
  --background-button-delete: #e7f1fc;
  --background-button-status: #c8f7f4;
  --product-border-bottom: rgba(0, 0, 0, 0.3);
  --background-popup: rgb(169, 169, 169, 0.5);

  //height
  --height-header: 80px;
  --height-header-button-click: 40px;

  //width
  --width-header-button-click: 100px;
  --width-product-button-status: 120px;
}
